<div class="sidenav">
  <a href="#about"
    ><i class="fa-solid fa-house-user"></i>
    <span class="side-bar-content"> About</span></a
  >
  <a href="#services"
    ><i class="fa-solid fa-gears"></i>
    <span class="side-bar-content"> Services</span></a
  >
  <a href="#clients"
    ><i class="fa-solid fa-people-group"></i>
    <span class="side-bar-content"> Clients</span></a
  >
  <a href="#contact"
    ><i class="fa-regular fa-id-card"></i>
    <span class="side-bar-content"> Contact</span></a
  >
</div>
<!-- <div class="active">
  <a href="#about"><i class="fa-solid fa-house-user"></i></a>
  <a href="#services"><i class="fa-solid fa-gears"></i></a>
  <a href="#clients"><i class="fa-solid fa-people-group"></i></a>
  <a href="#contact"><i class="fa-regular fa-id-card"></i></a>
</div> -->
